<html>
    <head>
        <title>A blank page</title>
        <meta name="layout" content="app" />
    </head>
    <body>
    	<div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-12
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-2
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-1
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-8 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-8
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-6
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-3
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>